/* Waybar Gruvbox Dark Medium Colors */
/* Save as ~/.config/waybar/colors.css */

@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;

@define-color fg0 #fbf1c7;
@define-color fg1 #ebdbb2;
@define-color fg2 #d5c4a1;
@define-color fg3 #bdae93;
@define-color fg4 #a89984;

@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color gray #928374;
@define-color orange #d65d0e;

@define-color bright-red #fb4934;
@define-color bright-green #b8bb26;
@define-color bright-yellow #fabd2f;
@define-color bright-blue #83a598;
@define-color bright-purple #d3869b;
@define-color bright-aqua #8ec07c;
@define-color bright-orange #fe8019;
